{% extends "usercp/base.html" %}
{% import "macros.html" as m %}
{% block ucp %}
{{ m.errors_box(errors) }}
<form method="post" action="/usercp/password" class="box">{{ m.csrf_field() }}
  <div class="box-head"><h2>Change password</h2></div>
  <div class="form-row"><label for="oldpassword">Current password</label><input id="oldpassword" type="password" name="oldpassword" autocomplete="current-password" required></div>
  <div class="form-row"><label for="password">New password</label><input id="password" type="password" name="password" autocomplete="new-password" required minlength="{{ bb.minpasswordlength }}"></div>
  <div class="form-row"><label for="password2">Confirm new password</label><input id="password2" type="password" name="password2" autocomplete="new-password" required></div>
  <div class="box-foot"><button class="btn" type="submit">Change password</button> <span class="small muted">Other devices will be logged out.</span></div>
</form>
{% endblock %}
