{% extends "layout.html" %}
{% block content %}
<form method="post" action="/forum/{{ fid }}/password" class="box" style="max-width:520px">
  <input type="hidden" name="my_post_key" value="{{ csrf }}"><input type="hidden" name="return_to" value="{{ return_to }}">
  <div class="box-head"><h2>Password required</h2></div>
  <div class="box-body"><p>The forum “{{ forum_name }}” is password protected.</p><p><label for="fpw">Password</label><br><input id="fpw" type="password" name="password" required autofocus></p></div>
  <div class="box-foot"><button class="btn" type="submit">Enter forum</button></div>
</form>
{% endblock %}
